#ignore bundler config
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.swp
*.swo
*.DS_Store
/config/mongoid.yml
/config/unicorn_init.sh
/config/unicorn.rb
/config/nginx.conf
/public/stylesheets/
/public/assets
/public/uploads
.jhw-cache/
*~
