@font-face {
  font-family: 'IcoMoon';
  src: url('IcoMoon.eot');
  src: url('IcoMoon.eot?#iefix') format('embedded-opentype'),
       url('IcoMoon.svg#IcoMoon') format('svg'),
       url('IcoMoon.woff') format('woff'),
       url('IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/* Use the following CSS code if you want to have a class per icon */
[class^="bicon-"]:before, [class*=" bicon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}

.bicon-home:before {
	content: "\2617";
}
.bicon-pencil:before {
	content: "\2600";
}
.bicon-pencil-2:before {
	content: "\2601";
}
.bicon-droplet:before {
	content: "\2603";
}
.bicon-tag:before {
	content: "\2606";
}
.bicon-phone:before {
	content: "\2607";
}
.bicon-mail:before {
	content: "\261a";
}
.bicon-mobile:before {
	content: "\262d";
}
.bicon-mobile-2:before {
	content: "\264d";
}
.bicon-user:before {
	content: "\2654";
}
.bicon-remove:before {
	content: "\2674";
}
.bicon-link:before {
	content: "\2677";
}
.bicon-star:before {
	content: "\2678";
}
.bicon-star-2:before {
	content: "\266a";
}
.bicon-flag:before {
	content: "\265b";
}
.bicon-twitter:before {
	content: "\267c";
}
.bicon-facebook:before {
	content: "\267e";
}
.bicon-linkedin:before {
	content: "\268c";
}
.bicon-google-circles:before {
	content: "\2670";
}
.bicon-write:before {
	content: "\2673";
}
.bicon-users:before {
	content: "\2694";
}
.bicon-user-2:before {
	content: "\2688";
}
.bicon-contact:before {
	content: "\2699";
}
.bicon-location:before {
	content: "\269c";
}
.bicon-remove-2:before {
	content: "\269d";
}
.bicon-eye:before {
	content: "\2659";
}
.bicon-bookmark:before {
	content: "\2665";
}
.bicon-bookmark-2:before {
	content: "\2680";
}
.bicon-star-3:before {
	content: "\2620";
}
.bicon-globe:before {
	content: "\2621";
}
.bicon-network:before {
	content: "\2691";
}
.bicon-star-4:before {
	content: "\2682";
}
.bicon-star-5:before {
	content: "\26ad";
}