<%= content_for :head do %>
  <%= javascript_include_tag "product_editor" %>
<% end %>
<div id="product-structure">
    <h2>Product Structure</h2>
    <div id="product-id" style="display:none"><%= @product.id %></div>
    <div id="version-id" style="display:none"><%= @version.id %></div>
    <div id="sections"></div>
    <div id="current-section"></div>
    <div id="questions"></div>
    <div id="current-question"></div>
</div>
<div id="menu">
    <h1>Menu</h1>
    <div id="notice" style="display:none" class="ui-state-highlight ui-corner-all" style="margin-top: 20px;">
      <p>
        <span class="ui-icon ui-icon-info" style="float: left; margin: 2px 1em; height: 15px"></span>
        <div id="notice-content" style="height: 15px"></div>
      </p>
    </div>
    <div id="actions">
        <h2>Product</h2>
        <ul>
            <li><a id="action-save">Save this version</a></li>
        </ul>
    </div>
    <div id="suggested-sections" style="display: none;"></div>
    <div id="suggested-questions" style="display: none;"></div>
</div>
