<header id="lion-header">
  <div class="container">
    <div class="header">
        <div class="logo">
          <img src="/assets/website-logo.png"></img>
        </div>
        <div class="cta">
          <a href="/auth/facebook" class="button button-facebook"><span class="dicon-facebook-2"></span><span>Sign in/up with facebook</span></a>
        </div>
    </div>
    <div class="body">
        <div class="prose">

          <div class="headline">
            <h3 class="book">THE INTELLIGENT CONTACT BOOK</h3>
          </div>
          <div class="content">
            <p class="book">introducing the first social address book that works across all platforms</p>
          </div>

        </div>
        <div class="imagery">
          <img src="/assets/mac.png"></img>
        </div>
    </div>
  </div>
</header>
<section id="lion-body">
  <div class="container">
    <div class="contact-card-section">
      <div class="imagery">
        <img src="/assets/contact-card.png"></img>
      </div>
      <div class="prose">
        <h3 class="book">dandelion <span class="handwritten">AIR</span></h3>
        <p class="book">automatically update friends and colleagues when changing your contact details via Air</p>
        <p class="book">connect your social profiles</p>
        <p class="book">enter your details</p>
        <p class="book">choose what dandelion display about you</p>
        <p class="book">send to anyone</p>        
        <p class="book">completely configurable - only share what you want to</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="pool-section">
      <div class="prose">
        <h3 class="book">social enhancement</h3>
        <p class="book">connect to facebook, twitter or linked in to enrich your contacts' details</p>
        <p class="book">let us know what other services you would like dandelion to connect to</p>
      </div> 
      <div class="imagery">
        <img src="/assets/network.png"></img>
      </div>
      <div class="clear"></div>
    </div>
    <div class="bar-section">
      <div class="imagery">
        <img src="/assets/bars.png"></img>
      </div>
      <div class="prose">
        <h3 class="book">a choice of 3 bars</h3>
        <h4 class="book">air bar</h4>
        <p class="book">search for or add contacts and groups from the Air bar</p>
        <h4 class="book">wonder bar</h4>
        <p class="book">enter any of your details in here and let us work out whether it is a phone number, address, email or anything else</p>
        <h4 class="book">filter bar</h4>
        <p class="book">filter your contacts instantly in real time</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="cta-section">
      <div class="cta">
        <a href="/auth/facebook" class="button button-facebook"><span class="dicon-facebook-2"></span><span>Sign in/up with facebook</span></a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="soon-section">
      <div class="imagery">
        <img src="/assets/soon.png"></img>
      </div>
      <div class="prose">
        <h3 class="handwritten">coming soon</h3>
        <p class="book">iPhone, iPad, Android</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<%= render "/public/footer" %>