/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require vendor
 *= require scaffolds
*/

@import "compass/css3";

@import "bootstrap";
@import "home";
@import "layout";
@import "sidebar";
@import "contact_profile";
@import "contacts_index";
@import "user";
@import "icons";

h1, h2, h3, h4, h5, h6 {
  padding: 0px 0px 10px 0px;
}

a {
  color: #555;
}

a:hover {
  text-decoration: none;
}

html, body {
  height: 100%;
  min-height: 100%;
}

li {
  list-style: none;
}

body.main-application {
  @include background(radial-gradient(top center, circle closest-corner, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.1) 90%), 
    image-url("/assets/textures.png") repeat !important);
}

.panel {
  margin: 0px;
  padding: 0px;
  @include background-image(linear-gradient(#FFF, #F4F4F4));
  @include box-shadow(0px 2px 5px rgba(0,0,255, 0.25));
  @include border-radius(4px);
}

.outer-center {  
  @include background(radial-gradient(top center, circle closest-corner, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 90%), 
      image-url("/assets/wood089.jpg") repeat !important); 
}

#container {
  height: 100%;
}
