// Place all the styles related to the TwitterFeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scroll {
  overflow: auto;
}

#contacts-table_filter {
  height: 32px;
  //border-bottom: 1px solid #CCC;
  padding: 10px;
  //background: #b5b1ae;
  background: #f0f0f0;
  //@include background-image(linear-gradient(#DDD, #CCC));
  border-bottom: 1px solid #CCC;
  @include border-corner-radius(top, left, 8px);
  @include border-corner-radius(top, right, 8px);
  label {
    margin: 0px;
  }
  input {
    padding: 4px;
    margin: 0px;
    float: right;
  }
  #action-wrapper {
    #delete-contact {
      
    }
    .button {
      padding: 1px 4px;
      margin-right: 5px;
    }
    .button:hover {

    }
  }
}

#contacts-table {
  width: 100%;
  border-collapse: separate;
  //border-spacing: 0 1px;
  thead {
    th {
      //height: 40px;
      //background: #b5b1ae;
      //background: #bbdd46;
      //background: #CCC;
      background: #ddd;
      color: #FFF;
      text-shadow: 0px 1px 1px #999;
      text-align: left;
      font-weight: bold;
      font-size: 16px;
      padding: 2px 0px 2px 0px;
      border-bottom: 1px solid #CCC;
    }
    .sorting_asc {
      background: #F9FF8E;
      border-right: 1px solid #CCC;
      border-left: 1px solid #CCC;
    }
    .sorting_desc {
      background: #DB9BF7;
      border-right: 1px solid #CCC;
      border-left: 1px solid #CCC;
    }
    .table-heading-icon {
      text-shadow: 0 -1px 0px #999, 0 1px 0px white;
      margin: 0px 4px 0px 0px;
    }
    .sel {
      width: 5% !important;
    }
    .fav {
      width: 5% !important;
    }
    .av {
      width: 7.5% !important;
    }
    .nam {
      width: 25% !important;
    }
        .soc {
      width: 12.5% !important;
    }
        .det {
      width: 20% !important;
    }
        .tag {
      width: 25% !important;
    }
  }

  tbody {
    background-repeat: no-repeat;
    //background-image: url('/assets/contacts.png');
    background-color: rgba(#F9F9F9, 0.95);
    //@include opacity(0.2);
    background-attachment:fixed;
    background-position: 90% 150px;
    position: absolute;
    top: 58px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    @include border-corner-radius(bottom, left, 8px);
    @include border-corner-radius(bottom, right, 8px);
    tr {
      background: rgba(#F9F9F9, 0.95);
      border-top: 2px solid #FFF;
      border-bottom: 1px solid #CCC;
      padding: 1px;
      margin: 1px;
      td {
        padding: 5px; 
        border-bottom: 1px solid #CCC;
        border-top: 1px solid #FFF;
        #select-contact {
        }  
      }
      .select-indicator {
	border-right: 1px solid #CCC;
        background: #f0f0f0;
	padding: 3px;
	width: 1%;
	cursor: pointer;
	p {
	  text-transform: uppercase;
	  text-shadow: 0px -1px 0px #999, 0px 1px 0px #FFF;
	  font-size: 8px;
	  line-height: 8px;
	  color: #FFF;
	}
      }
      .select {
        text-align: center;
        width: 5%;
	//background: #f0f0f0;
	//border-right: 1px solid #CCC;
	.select-indicator {
	  padding: 0px;
	  margin: 0px;

	}
	.dicon-square {
	  background: none repeat scroll 0 0 #FFFFFF;
	  border: 1px solid #CCCCCC;
	  display: inline-block;
	  height: 12px;
	  margin: 0;
	  padding: 0;
	  width: 12px;
	  position: relative;
	  top: 18px;
	  z-index: 3;
	  cursor: pointer;
	}
	.dicon-checkmark {
	  margin: 0;
	  padding: 0;
	  font-size: 24px;
	  color: #BBDD46;
	  position: relative;
	  right: -4px;
          top: -8px;
	  z-index: 4;
	  @include opacity(0);
	  cursor: pointer;
	}
	.select-item, .select-merge-item {
	  @include opacity(1);

	}
      }
      .favorite {width: 5%;
        .contact-list-favorite {
          color: #ddd;
          font-size: 24px;
          text-shadow: 0px -1px 0px #CCC, 0px 1px 0px #FFF;
	  width: 100%;
	  text-align: center;
          .dicon-star {
	    width: 100%;
	  }
          .isFavorite {
	    color: #FFDF00;}
        }
      }
   
      .avatar-cell {width: 7.5%;}
      .name-cell {width: 25%;}
      .socials {width: 12.5%;
        .contact-list-socials {
          font-size: 18px;
          color: #ddd;
          text-shadow: 0px -1px 0px #CCC, 0px 1px 0px #FFF;
          //.dicon-facebook {display: none;}
          //.dicon-twitter {display: none;}
          //.dicon-linkedin {display: none;}
          .facebook-active {color: #3B5998; display: inline-block;}
          .twitter-active {color: #33CCFF; display: inline-block;}
          .linkedin-active {color: #4875B4; display: inline-block;}
        }
      }
      .details-cell {
	width: 20%;
        .email-details, .phone-details {
	  .contact-list-section {
	    overflow: hidden;
            #contact-detail-icon {
	      width: 10%;
	      float: left;
	    }
	    .contact-detail-value {
              width: 90%;
	      float: left;
	      overflow: hidden;
	      text-overflow: ellipsis;
	    }
	  }
	}
      }
      .tags {width: 25%;}
    }
  }
  .contact-list-detail {
    padding: 5px;
  }
}

#contacts-index, #group-contacts-wrapper, #merge-lightbox {

  .contact-list-item {
    
    .select {
      
    }

    padding: 1em;

    .avatar {
      img {
        width: 48px;
        height: 48px;
        @include border-radius(4px);
      }
      span.dicon-user, span.dicon-circles {
	display: inline-block;
	font-size: 48px;
	line-height: 48px;
	background: #FFF;
	height: 48px;
	border: 1px solid #EEEEEE;
	box-shadow: 0 0 1px #777777;
	@include border-radius(4px);
      }
    }

    .name {
      a:hover {
	h3 {
	  text-decoration: underline;
	}	
      }
      h3 {
        color: #F76A02;
	display: inline-block;
      }
      p {
      }
    }

    .details {
    }
  }
  .selected {
    background: #f0f0f0;
  }
}

#group-contacts-wrapper {
  #contacts-table {
    tbody {
      top: 70px;
    }    
  }
}
