#contact-card {
  position: absolute;
  top: 0;
  left: 0;

  #contact-card-map {
    margin: 0;
    padding: 0;
    height: 219px;
    position: relative;
    z-index: 0;
  }


  #contact-card-actions-wrapper {
    position: relative;
    margin: -30px 0 30px 0;
    z-index: 10;
    width: 100%;
    padding: 0;

    #contact-card-toggle-actions {
      float: right;
      width: 5%;
    }

    #contact-card-actions-bar {
      float: right;
      width: 90%;
      margin-right: 3%;
    }

    #contact-card-actions {
      height: 20px;
      float: right;
      overflow: none;
      background-color: #ddd;
    }

    ul {
      list-style-type: none;
      li {
        display: inline;
      }
    }
  }

  #contact-card-details {
    float: left;
    width: auto;
    padding: 10px;
    position: absolute;
    left: 0;

    #contact-card-head {

      #contact-card-avatar {
        margin-right: 1em;
        float: left;
      }
      #contact-card-name {
        margin-top: 2em;
        float: left;
      }
    }

    #contact-card-details-input-form {
      width: 100%;

      #contact-card-details-input {
        width: 75%;
      }
      #contact-card-details-input-type {
        width: 24%;
      }
    }
  }
}
