#contact-profile {

  .contact-profile-map {
    margin: 0;
    padding: 0;
    height: 219px;
  }

  a#contact-profile-toggle-actions {
    float: right;
    position: relative;
    top: -30px;
    z-index: 10;
    width: 20px;
  }

  #contact-profile-actions-wrapper {
    float: right;
    position: relative;
    top: -30px;
    width: 360px;

    #contact-profile-actions {
      float: right;
      overflow: none;
      height: 20px;
    }

    ul {
      list-style-type: none;
      li {
        display: inline;
      }
    }
  }
}
