#contact-card {
  position: absolute;
  top: 0px;
  left: 0;
  width: 320px;
  height: 100%;
  #contact-card-top {
    position: absolute;
    top: 0px;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    z-index: 1;
    #contact-card-name {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 90%;
      h3 {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 8px;
        right: 0px;
        width: 90%;
        text-align: center;
	font-size: 16px;
        line-height: 16px;
        font-weight: bold;
	display: inline-block;
      }
      input {
        margin: 0px;
        padding: 0px 0px 4px 0px;
        position: absolute;
        top: 4px;
        right: 0px;
        width: 90%;
        font-size: 16px;
        border: none;  
        color: #BBB;
        line-height: 16px;
        font-weight: bold;
        height: 24px;
        background: transparent;      
        @include box-shadow(none);
        text-align: center;
      }
      #isRipple {
        display: none;
	font-size: 24px;
	color: #f0f0f0;
	text-shadow: 0 -1px 0px #BBB, 0 1px 0px white;
	cursor: pointer;
	position: relative;
	top: 8px;
        width: 10%;
        left: 4px;
      }
      .visible {
	display: inline-block !important;
      }
      .connected {
	display: inline-block !important;
	color: #FEB326 !important; 
      }

    }
    #contact-card-name.add {
      width: 100% !important;
      input {
        width: 100% !important;
      }
    }

    #contact-card-edit {
      position: absolute;
      top: 8px;
      right: 0px;
      width: 10%;
      .dicon-pencil {
	font-size: 24px;
	color: #f0f0f0;
	text-shadow: 0 -1px 0px #BBB, 0 1px 0px white;
	cursor: pointer;
      }
      .active {
	color: #777;
      }
    }
  }

  #contact-card-map {
    position: relative;
    top: 35px;
    left: 0;    
    width: auto;
    height: 150px;
    overflow: hidden;
    border-bottom: 1px solid #CCC;
    z-index: 0;
    #map-placeholder {
      width: auto;
      border-bottom: 1px solid #CCC;
      img {
        padding: 0px;
        margin: 0px;
        width: 100%;
      }

    }

  }
  
  .face-search{
    height:60px;
  }

  #contact-card-details {
    position: relative;
    width: 94%;
    margin: 0 3% 0 3%;


    #contact-card-head {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      #contact-card-avatar {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          border: 1px solid #EEEEEE;
          box-shadow: 0 0 1px #777777;
          @include border-radius(4px);
        }
        span.subject-avatar {
          width: 60px;
          height: 60px;
          display: inline-block;
          font-size: 60px;
          line-height: 60px;
          background: #FFF;
          border: 1px solid #EEEEEE;
          box-shadow: 0 0 1px #777777;
          @include border-radius(4px);

        }
      }
      
      #contact-card-favourite {
        position: absolute;
        top: 40px;
        left: 270px;
        .dicon-star {
          font-size: 24px;
          color: #f0f0f0;
          text-shadow: 0 -1px 0px #BBB, 0 1px 0px white;
          cursor: pointer;
        }
        .isFavorite {
          color: #FFDF00;
        }
      }



      #contact-card-details-input-form {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;

        #minibar-wrapper {
          margin: 0px;
          float: left;
          width: 100%;
          background: transparent;
          border: 1px solid #CCCCCC;
          @include border-radius(4px);
          #minibar-input-wrapper {
            padding: 0px;
            margin: 0px;
            float: left;
            width: 100%;
            height: 24px;
            input {
              width: 100%;
              padding: 2px 4px;
              margin: 0px;
              height: 24px;
              border: none;
              background: transparent;
              @include box-sizing(border-box);
              @include box-shadow(none);
            }
            input:focus {
              @include box-shadow(none);
            }
            .ui-widget-content {
              @include border-radius(0px);
              @include border-corner-radius(bottom, left, 4px);
              @include border-corner-radius(bottom, right, 4px);
              background: #fefefe;
              width: 300px !important;
              left: -26px !important;
              .ui-menu-item a {
                padding: 3px 0px 3px 5px;
              }
            }
          }
          #minibar-type-wrapper {
            padding: 4px 0px 4px 0px;
            margin: 0px;
            float: left;
            width: 100%;
            background: #f9f9f9;
            display: none;
            border-top: 1px solid #CCCCCC;
          }


          .add-on {
            cursor: pointer;
            padding: 0px;
            margin: 0px 0px 0px 5px;
            float: left;
            border: none;
            background: transparent;  
            height: 18px;
            .minibar-type-list {
              padding: 0px 0px;
              margin: 0px; 
              min-width: 75px; 
              font-size: 11px;
              border: 1px solid #CCC;
              @include border-radius(4px);
              background: #f9f9f9;
              position: relative;
              z-index: 5;
              cursor: pointer;
              li {
                padding: 0px 4px;
                margin: 0px;
                text-align: left;
              }   
              li:hover {
                background: #f0f0f0;
              }
              li.minibar-type-selected {
                margin: 0px 4px; 
                padding: 0px; 
                cursor: pointer; 
              }    
              li.minibar-type-selected:hover {
                margin: 0px 4px;  
                background: transparent;
              }     
            }          
          }
          .bp-select {
            padding: 0px;
            margin: 0px 0px 0px 5px;
            float: left;
            text-align: center;
            height: 18px;
            .minibar-type-list {
              padding: 0px 0px;
              margin: 0px; 
              min-width: 75px; 
              font-size: 11px;
              border: 1px solid #CCC;
              @include border-radius(4px);
              background: #f9f9f9;
              position: relative;
              z-index: 5;
              li {
                margin: 0px;
                text-align: left;
              }     
              li.bp-type-list {
                display: none;
                cursor: pointer;
                padding: 0px 4px;
              }  
              li.bp-type-list:hover {
                background: #f0f0f0;
              }
              li.minibar-type-selected {   
                margin: 0px 4px; 
                padding: 0px;     
                cursor: pointer;          
              }    
            }
            #bp-type {
              padding: 0px;
              margin: 0px; 
              cursor: pointer;
            }
          }
          .dicon-arrow-down {
            font-size: 11px;
            float: right;
          }
        }
          
        #override-match-wrapper {
          ul {
            margin: 0px 0px 0px 0px;
            padding: 0px;
            background-color: #F9f9f9;
            @include opacity(0.95);
            border: 1px solid #CCCCCC;
            border-radius: 3px 0 0 3px;
            color: #999999;
            z-index: 9000;
            position: relative;
            #left: 100px;
            li {
              margin: 0px 0px 0px 0px;
              padding: 2px;
              text-align: left;
              font-size: 11px;
            }
          } 
        }
      }
      
      #social-network-links{
        position: absolute;
        top: 115px;
        left: 0px;
        right: 0;
      }
      
      #social-network-links .searchIcon{
        padding: 0 12px 0 0;
        float: left;
        cursor: pointer;
        .social-grey {
          font-size: 24px;
          color: #DDD;
          text-shadow: 0px -1px 0 #BBB, 0px 1px 0 #FFF;
        }
        .social-facebook {
          font-size: 24px;
          color: #3B5998;
          text-shadow: 0px -1px 0 #BBB, 0px 1px 0 #FFF;
        }
        .social-twitter {
          font-size: 24px;
          color: #33CCFF;
          text-shadow: 0px -1px 0 #BBB, 0px 1px 0 #FFF;
        }
        .social-linkedin {
          font-size: 24px;
          color: #4875B4;
          text-shadow: 0px -1px 0 #BBB, 0px 1px 0 #FFF;
        }
      }
    }

    #contact-user-actions {
      position: absolute;
      width: 380px;
      top: 90px;
      #contact-user-ripple {
        width: 46%;
      }
      #contact-user-add {
        width: 46%;
      }
    }

    #contact-card-body {
      position: absolute;
      top: 138px;
      left: 0;
      width: 300px;
  
      .contact-card-section {
        margin: 0px 0px 0px 0px;
        float: left;
        width: 100%;
      }

      .editing {
        .subject_edit_view_input {
          display: block !important;        
        }
        ul { 
          li {
            .contact-detail-delete {
              color: #DDD;
              display: block;
            }
            .contact-detail-value {
              display: none;
            }
            .contact-detail-edit {
              display: block;
              #edit_value {
                color: #555;
              }
	      input {
		width: 75%;
		font-size: 16px;
		border: none;
		box-shadow: none;
		padding: 0px;
		margin: 0px 0px 0px 12px;
		line-height: 18px;
		vertical-align: baseline;
		background-color: transparent;
		float: left;
		color: #CCC;
	      }
            }
          }
          .contact-user-detail, .uneditable {
           .contact-detail-delete {
              display: none;
            }
            .contact-detail-value {
              display: block;
            }
            .contact-detail-edit {
              display: none;
            }
          }
        }
      }

      .contact-card-hashtag-section {
        margin: 6px 0px 0px 0px;
        float: left;
      }

      .contact-details-list {
        margin: 0px;
      }

      .edit-view-input {
        color: inherit;
        font-size: inherit;
        float: left;
        width: 100%;
        position: relative;
        ul {
          padding: 0px;
          margin: 0px;
          .contact-detail-icon {
            color: #BBBBBB;
            cursor: pointer;
            float: left;
            font-size: 16px;
          }
          .icon-default {
            padding: 0px;
            margin: 0px;
          }
          .edit-view-icon-options {
            display: none;
            float: left;
            position: absolute;
            background: #f0f0f0;
            z-index: 6;
            width: 50%;
            border: 1px solid #CCC;
            @include border-radius(4px);
            padding: 4px;
            top: 22px;
            left: -5px;
	    .menu-caret {
	      width: 0; 
	      height: 0; 
	      border-left: 5px solid transparent;
	      border-right: 5px solid transparent;	
	      border-bottom: 5px solid #f0f0f0;
	      position: absolute;
	      z-index: 9;
              top: -5px;
              left: 7px;
              display: block;
	    }

	    .menu-caret.outline {
	      border-color: transparent transparent #CCC;
	      border-style: dashed dashed solid;
	      border-width: 0 5px 5px;
	      z-index: 8;
              display: block;
	    }
            .options-item {
              float: left;
              width: 100%;
              padding: 2px 0px 2px 0px;
              font-size: 11px;
	      span {
		padding: 0px;
		margin: 0px;
		display: block;
		float: left;
	      }
	      span.contact-detail-icon {
		width: 20%;
	      }
	      span.icon-options-wording {
		width: 80%;
                margin-top: 2px;
	      }
            }
          }
	  .contact-detail-edit {
            input {
	      width: 75%;
	      font-size: 16px;
	      border: none;
	      box-shadow: none;
	      padding: 0px;
	      margin: 0px 0px 0px 12px;
	      line-height: 18px;
	      vertical-align: baseline;
	      background-color: transparent;
	      float: left;
	      color: #BBB;
	    }
          }
        }
      }

      .contact-card-section-title {
        font-size: 11pt;
        font-style: italic;
        color: #BBB;
        display: none;
      }
        
      .active {
        color: #DDD;
        text-shadow: 0 -1px 0px #BBB, 0 1px 0px white;
        font-style: normal;
        display: none;
        font-size: 16px;
      }

  


      .contact-detail, .contact-user-detail {
        margin: 0px 0px 0px 0px;
        padding: 2px 0px 0px 0px;
        width: 100%;
        min-height: 22px;
 
        

        .contact-detail-icon {
          float: left;
          font-size: 16px;
          color: #555;
          cursor: pointer; 
        }
  
        .contact-detail-delete {
          color: #FFF;
          @include opacity(0.8);
          cursor: pointer;
          display: none;
        }
        
        .contact-detail-favorite {
          color: #FFF;
          @include opacity(0.8);
          text-shadow: 0 -1px 0px #BBB, 0 1px 0px white;
          float: right;
          cursor: pointer;
        }

        .favorite-active {color: #FF7243;}
        .default-active {color: #12CEF1;}
        

        .contact-detail-value {
          float: left;
          margin-left: 13px;
          width: 75%;
          
          font-weight: normal;
          font-size: 16px;
          color: #555;
        }
        .contact-detail-edit {
          display: none;
        }
        .trigger-address {
          cursor: pointer;
        }
        .trigger-phone {
          cursor: pointer;
        }
      }
      .contact-user-detail, .uneditable {
        .contact-detail-value {
          color: #FEB326;
        }
      }
 
      .contact-detail:hover {
        .contact-detail-favorite {
          color: #EEE;
        }
        .favorite-active {color: #FF7243 !important;}
      }
      .contact-detail.editing {
        .contact-detail-value {
          display: none;
        }
        .contact-detail-edit {
          display: block;
          input {
            width: 75%;
            font-size: 16px;
            border: none;
            box-shadow: none;
            padding: 0px;
            margin: 0px 0px 0px 12px;
            line-height: 18px;
            vertical-align: baseline;
            background-color: transparent;
            float: left;
            color: #999;
          }
        }
      }
    }
  }
}
