#contact-card {
  position: absolute;
  top: 0;
  left: 0;

  width: 380px;
  height: 100%;

  #contact-card-map {
    position: absolute;
    top: 0;
    left: 0;
    
    width: auto;
    height: 219px;

    z-index: 0;
  }


  #contact-card-actions-wrapper {
    position: absolute;
    top: 190px;
    left: 0;

    width: 100%;
    height: 20px;
    z-index: 1;

    #contact-card-toggle-actions {
      position: absolute;
      top: 1px;
      right: 0;

      height: 20px;
      width: 5%;
    }

    #contact-card-actions-bar {
      position: absolute;
      right: 10%;

      height: 20px;
      width: 85%;
      overflow: hidden;
    }

    #contact-card-actions {
      float: right;

      background-color: #ddd;
    }

    ul {
      list-style-type: none;
      li {
        display: inline;
      }
    }
  }

  #contact-card-details {

    $detailsPadding: 10px;

    position: absolute;
    top: 225px;
    left: $detailsPadding;
    right: $detailsPadding;

    #contact-card-head {
      position: absolute;
      top: 0;
      left: 0;
      right: 20px;

      #contact-card-avatar {
        position: absolute;
        top: 0;
        left: 0;
      }
      #contact-card-name {
        position: absolute;
        top: 2em;
        left: 100px;
      }

      #contact-card-details-input-form {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;

        #contact-card-details-input {

          input {
            position: absolute;
            top: 0;
            left: 0;
            right: 40px;

            width: auto;
          }

          .add-on {
            position: absolute;
            top: 0;
            right: 0;
            left: 300px;

            width: auto;
          }
        }
      }
    }

    #contact-card-body {
      position: absolute;
      top: 130px;
      left: 0;

      .contact-card-section-title {
        font-size: 11pt;
        font-style: italic;
        color: #BBB;
      }

      .contact-detail {
        margin-top: 1em;
        width: 100%;

        .contact-detail-icon {
          float: left;
        }

        .contact-detail-value {
          float: left;
          margin-left: 1em;
          width: 200px;
          
          font-weight: bold;
          font-size: 9pt;
        }
      }
    }
  }
}
