/*********************************************************************************
* TOP NAVIGATION MENU
**********************************************************************************/

/* TOP MENU BAR FIXED */




#sitewide-search i {
  position: relative;
  left: -30px;
  top: 2px;
  z-index: 1;
}

#searchbutton {
  margin: 0px;
  background: none;
  position: relative;
  left: -45px;
  width: 40px;
  border: none;
  box-shadow: none;
  border-radius: none;
  z-index: 2;
}









.padded {
  padding: 20px !important;
}



/*********************************************************************************
* GENERAL CLASSES
**********************************************************************************/

.disabled {
  display: none !important;
}

.rip-tabs {
  margin: 0px;
  padding: 0px;
  li {
    float: left;
    padding: 9px 12px 9px 12px;
    border-right: 1px solid #CCC;
  }
  li.active {
    background: #fcc;
  }
  li.active:hover {
    background: #fcc;
  }
  li:hover {
    background: #ccc;
  }  
}

/*********************************************************************************
* BORDERS
**********************************************************************************/

.border {
  border: 1px solid #CCC;
  margin: 0px;
  padding: 0px;
  @include border-radius(8px); 
}

/*********************************************************************************
* HOME
**********************************************************************************/

#home {
  padding: 0px;
}

/*********************************************************************************
* TASKS
**********************************************************************************/


#tasks {
  margin: 0px;
  padding: 0px;
}

#tasks li{
  display: block;
}

#tasks .editing .visible, #tasks .edit{
  display: none;
}

#tasks .editing .edit{
  display: block;
  color: #ff00b4;
}

#tasks .editing .task.panel {
  padding: 5px 20px 5px 20px;
}

#tasks .editing span.task-destroy {
  margin: 9px 0px 0px 0px;
}

#tasks .editing .task .check {
  margin: 7px 0px 0px 0px;
}

.task-complete {
  height: 14px;
  width: 14px;
  padding: 0px !important;
  margin: 6px 0px 0px 0px;
  border: solid 1px #444;
  border-radius: 4px 4px 4px 4px;
  background: -moz-linear-gradient(center top , #FFF 0%, #777 100%) repeat scroll 0 0 transparent !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  
}

.checked .task-complete{
  background: -moz-linear-gradient(center top , #FFF 0%, #FCC 100%) repeat scroll 0 0 transparent !important;
}

.checked .task {
  color: #999;
}

.task {
  margin: 10px 0px 10px 0px;
}

.task .check {
  margin: 2px 0px 0px 0px;
}


.task input{
  margin: 0px;  
}

.task.panel {
  padding: 10px 20px 10px 20px;
}

.clear {
  clear: both;
}

.task span {
  float: left;
  padding: 5px;
  font-size: 14px;
}


span.task-destroy {
  width: 20px;
  height: 20px;

  padding: 0px;
  margin: 4px 0px 0px 0px;
  float: right;
  display: block;
}

#tasks li:hover span.task-destroy {
  background: url(/assets/delete-task.png) no-repeat;
}

span.task-assignee {
  font-size: 10px;
  color: #FFF;
  padding: 2px 4px 2px 4px;
  margin: 4px 40px 0px 0px;
  float: right;
  background: -moz-linear-gradient(center top , #DE0052 0%, #EE6B9C 100%) repeat scroll 0 0 transparent !important;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
