/*********************************************************************************
* ICONS
**********************************************************************************/

span.ripicon {
  background-image: url("/assets/ripple-icon-small-sprite.png");
  height: 14px;
  width: 14px;
  display: inline-block;
}

.icon-avatar {
  background-position: 0px 0px;
}

.icon-group {
  background-position: -14px 0px;
}
