#view-layout {
  margin-top: 40px;
  width: 100%;
}

#view-sidebar {
  height: 100%;
  width: 72px;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

#view-context {
  height: 100%;
  width: 400px;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
}

#view-main {
  height: 100%;
  float: left;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
}
