#view-layout {
  position: absolute;
  top: 40px;
  left: 0;
  width: auto;
}

#view-sidebar {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 72px;

  overflow-x: hidden;
  overflow-y: hidden;
}

#view-context {
  position: absolute;
  top: 0;
  left: 72px;

  height: 100%;
  width: 400px;

  overflow-x: hidden;
  overflow-y: auto;
}

#view-main {
  position: absolute;
  top: 0;
  left: 472px;

  height: 100%;

  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
