/*********************************************************************************
* LIGHTBOX
**********************************************************************************/

.lightbox, .lightboxmap {
  z-index: 0;
  position: fixed;
  display: none;
  background: #FFF;
  border: 1px solid rgba(#999, 1);
  @include border-radius(16px);
  @include background-clip(padding-box);
  @include opacity(0);
  @include transition-property(opacity);
  @include transition-duration(1s);
}

.lightbox.show, .lightboxmap.show {
  @include opacity(1);
  @include transition-property(opacity);
  @include transition-duration(1s);
  z-index: 999991;
}

#expanded-map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include border-radius(16px);
}

.lightboxmap.map {
  position: fixed;
  bottom: 10%;
  left: 5%;
  right: 5%;
  top: 10%;
}

.lightbox.social {
  position: fixed;
  bottom: 20%;
  left: 30%;
  right: 30%;
  top: 20%;
  #social-lightbox {
    float: left;
    width: 100%;
    height: 100%;
  }
  .social-search-header {
    padding: 2%;
    margin: 0px;
    width: 100%;
    height: 15%;
    float: left;
    border-bottom: 1px solid #CCC;
    @include box-sizing(border-box);
    h3 {
      display: inline-block;
      line-height: 18px;
      padding: 1%;
      position: relative;
      top: 2px;
      width: 32%;
    }
    input {
      font-size: 16px;
      height: 18px;
      line-height: 18px;
      margin: 0;
      padding: 4px;
      width: 60%;
    }
  }
  .social-search-body {
    padding: 0px;
    float: left;
    height: 80%;
    width: 100%;
    overflow: auto;
    ul {
      margin: 10px 40px;
      padding: 0px;
      li {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
	.social-search-image {
	  display: inline-block;
	  margin: 0px 8px 0px 0px;
	  float: left;
	  .dicon-user {
            display: inline-block;
	    font-size: 48px;
	    line-height: 48px;
	    border: 1px solid #EEEEEE;
            box-shadow: 0 0 1px #777777;
            @include border-radius(4px);
	    height: 48px;
	  }
	  img {
	    display: block;
	  }
	}
	.result-text {
	  display: inline-block;
	  float: left;
	  width: 75%;
	  h3 {
	    padding: 0px;
	    margin: 0px;
	    color: #FEB326;
	    font-size: 16px;
	  }
	  p {
	    padding: 0px;
	    margin: 0px;
	  }
	}
	.link-action {
	  display: inline-block;
	  float: right;
	  margin: 9px 0px 9px 0px;
	  .button {
	    color: #FFF;
            @include opacity(1);
            @include box-shadow(0px 1px 2px rgba(0,0,0, 0.15));
	  }
	  .button:hover {
	    background: #FEB326;
	  }
	}
      }
    }
  }
}


.lightbox.avatar {
  position: fixed;
  bottom: 20%;
  left: 20%;
  right: 20%;
  top: 20%;
  #avatar-lightbox {
    float: left;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    @include box-sizing(border-box);
    h3 {
      text-align: center;
      font-size: 20px;
      margin: 10px;
    }
    #avatar-container {
      float: left;
      height: 100%;
      width: 50%;
      @include box-sizing(border-box);
      padding: 0px 10px 0px 0px;

      #avatar-list {
	padding: 0px;
	margin: 0px;
        .avatar {
	  padding: 8px;
	  margin: 8px 0px;
	  background: #f0f0f0;
	  border: 1px solid #CCC;
	  @include border-radius(4px);
	  position: relative;
	  cursor: pointer;
          img {
	    width: 48px;
            height: 48px;
            border: 1px solid #EEEEEE;
            box-shadow: 0 0 1px #777777;
            @include border-radius(4px);
	  }
	  p {
	    display: inline-block;
	    font-size: 18px;
	    line-height: 18px;
	    margin: 0px 0px 0px 8px;
	    padding: 0px;
	  }
	  .social-icon {
	    font-size: 32px;
	    position: absolute;
	    top: 35%;
	    right: 5%;
	    text-shadow: 0px -1px 0 #BBB, 0px 1px 0 #FFF;
	  }
	  .dicon-facebook {
            color: #3B5998;
          }
          .dicon-twitter {
            color: #33CCFF;
          }
          .dicon-linkedin {
            color: #4875B4;
          }
        }
      }
    }
    #upload-container {
      float: left;
      height: 100%;
      width: 50%;
      @include box-sizing(border-box);
      #avatar-droppable {
	height: 40%;
        margin: 0 10%;
        padding: 0;
        width: 80%;
	border: 4px dashed #CCC;
	background: #f9f9f9;
	@include border-radius(4px);
	p {
	  display: block;
	  margin: 0;
	  position: relative;
	  text-align: center;
	  top: 45%;
	}
      }
      form {
	padding: 0px;
        margin: 0 10%;
	input[type="file"] {
	  margin: 0px;
	  padding: 0px;
	}
	input.avatar-upload {
	  display: block;
	  padding: 10px;
	  margin: 10px 0px 0px 0px;
	  width: 100%;
	}
      }
    }

  }
}

.lightbox.settings {
  position: fixed;
  bottom: 5%;
  left: 15%;
  right: 15%;
  top: 5%;
}

#settings-container {
  float: left;
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  @include box-sizing(border-box);
  #settings-menu {
    float: left;
    height: 100%;
    width: 20%;
    @include box-sizing(border-box);
    padding: 0px 0px 0px 0px;
    ul {
      padding: 0px;
      margin: 0px;
      font-size: 16px;
      li {
        margin: 12px 0px 12px 0px;
        cursor: pointer;
      }
      li.active {
        color: #12CEF1;
      }
    }
  }
  #settings-content {
    float: left;
    height: 100%;
    width: 80%;
    @include box-sizing(border-box);
    padding: 10px 20px 20px 20px;
    border: 1px solid #CCC;
    @include border-radius(16px);
    .settings-info {
      margin: 20px 0px 0px 0px;
      float: left;
      width: 100%;
      p {
	text-align: center;
      }
    }
    #settings-profile {
      float: left;
      width: 100%;
      height: 100%;
      #social-profile-info {
        float: left;
	width: 20%;
	height: 100%;
        #profile-avatar {
        }
      }
      #social-profile-details {
	float: left;
	width: 80%;
	height: 100%;
	font-size: 18px;
	div {
	  margin: 0px 0px 20px 0px;
	}
	span {
	  width: 30%;
	  display: inline-block;
	}
	input {
	  margin: 0px;
	  width: 50%;
	  padding: 12px;
	  margin: 10px 0px 10px 0px;
	  font-size: 18px;
	  height: 24px;
	}
      }
    }
    #settings-social-facebook.connected, #settings-social-twitter.connected, #settings-social-linkedin.connected {
      .settings-social-import-all, .settings-social-sync-all {
	cursor: pointer;
	@include border-radius(4px);
	@include box-shadow(0px 1px 2px rgba(0,0,0, 0.15));
      }
      .settings-social-import-all:hover, .settings-social-sync-all:hover {
	background: #f9f9f9;
        @include box-shadow(0px 1px 1px rgba(0,0,0, 0.15));
      }
      .settings-social-connected {
	color: #BBDD46;
      }
      .dicon-network {
	color: #FEB326;
      }
      .dicon-arrow-right-2, .dicon-loop-2 {
	color: #999;
      }
    }
    #settings-social-facebook.connected {
      .settings-social-icon, .settings-social-avatar, .settings-social-import-all, .settings-social-sync-all {
	color: #3B5998;
      }      
    }
    #settings-social-twitter.connected {
      .settings-social-icon, .settings-social-avatar, .settings-social-import-all, .settings-social-sync-all {
	color: #33CCFF;
      }     
    }
    #settings-social-linkedin.connected {
      .settings-social-icon, .settings-social-avatar, .settings-social-import-all, .settings-social-sync-all {
	color: #4875B4;
      }        
    }
    #settings-social-facebook, #settings-social-twitter, #settings-social-linkedin {
      margin: 10px 0px 10px 0px;
      padding: 10px 0px 10px 0px;
      float: left;
      width: 100%;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      color: #eee;
      .settings-social-icon {        
        width: 15%;
        float: left;
      }
      .settings-social-avatar {
        width: 15%;
        float: left;
	img {
	  width: 48px;
          height: 48px;
          position: relative;
	  top: -3px;
          @include border-radius(4px);
	}
      }
      .settings-social-name {
	width: 30%;
        float: left;
	p, a {
	  margin: 0px;
	  padding: 0px;
	  color: #eee;
	  font-size: 24px;
	  line-height: 48px;
	  height: 48px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	a {
	  color: #B5B1AE;
	}

      }
      .settings-social-import-all {
        width: 14%;
        float: left;
	font-size: 18px;
	margin-left: 1%;
      }
      .settings-social-sync-all {
        width: 14%;
        float: left;
	font-size: 18px;
	margin-right: 1%;
      }
      .settings-social-connected {
        width: 10%;
        float: left;
	font-size: 32px;
      }
      
    }
    .activatable {
	cursor: pointer;
	a {
	  color: #eee;
	}
     }
    .activatable:hover {
        a {
	  color: #ddd !important;
	}
	.settings-social-name {
	  p {
	    color: #ddd !important;
	  }
	}
    }
  }  
}

#phone-lightbox-container {
  padding: 0px;
  margin: 0 0 0 0;
  position: absolute;
  //top: 0px;
  left: 0px;
  right: 0px;
  //bottom: 0px;
  top: 40%;
  display: none;
  z-index: 999991;
  #phone-lightbox-value {
    padding: 0px;
    margin: 0px;
    display: none;
    color: #FFF;
    font-size: 10px;
    text-align: center;
    position: absolute;
    z-index: 999991;    
  }
}

#merge-lightbox {
  display: none;
  padding: 0px;
  margin: 0 0 0 0;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20%;
  top: 10%;
  z-index: 999991;
  #merge-lightbox-header {
    padding: 20px 10px 10px 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    border-bottom: 1px solid #CCC;
    h3 {
      text-align: center;
    }
  }
  #merge-lightbox-body {
    padding: 0px;
    padding: 10px 10px 20px 10px;
    position: absolute;
    top: 51px;
    left: 0px;
    right: 0px;
    bottom: 60px;
    table {
      padding: 0px;
      tbody {
        padding: 0px;
        top: 0px;
	left: 0px;
        right: 0px;
	background-color: transparent;
      }
    }
  }
  #merge-lightbox-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    padding: 10px 20px 20px 20px;
    height: 30px;
    #merge-with-master-contact {
      float: right;
      width: 100px;
      background: #eee;
    }
    .complete-merge {
      background: #BBDD46 !important;
    }
  }
}




.lightbox-backdrop {
  //background-color: #F76A02;
  background-color: #000;
  @include opacity(0.35);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  display: none;
}

