/*********************************************************************************
* TOP NAVIGATION MENU
**********************************************************************************/

#header {
  height: 60px;
  @include box-sizing(border-box);
  width: 100%;
  position: absolute;
  top: 0px;
  padding: 0px 20px 0px 0px;
  //background: #000;
  //border-bottom: solid 1px #000;
  //background: -moz-linear-gradient(center top , #414149 0%, #2A2A30 100%) repeat scroll 0 0 transparent !important;
  //border-bottom: 1px solid #1D1E21;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

#logo-placeholder {
  width: 320px;
  height: 60px;
  margin: 0px 0px 0px 72px;
  float: left;
  a.brand {
    color: #999999;
    display: block;
    float: left;
    font-size: 32px;
    font-weight: 200;
    line-height: 1;
    margin-left: 0;
    padding: 12px 20px 12px 0px;
    img {
      margin: 0px 0px 0px 0px;
    }
  }
}

#sitewide-search {
  margin: 0px 0px 0px 20px;
  float: left;
  form {
    margin-top: 6px;
  }
}

#autocomplete {
  width: 400px;
  background-color: #FFF;
  border: 1px solid #CCC;
  line-height: 18px;
  height: 18px;
}

#autocomplete:focus {
  border: 1px solid #FEB326;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(#f25f1d, 0.6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(#f25f1d, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(#f25f1d, 0.6);
  //@include box-shadow(rgba(#000, 0.075) 0px 1px 1px inset);

}

.search-query {
  @include border-radius(4px);
  padding: 12px !important;
  font-size: 18px !important;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #111111;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
  width: 400px;
  padding: 8px;
  text-shadow: none;
  
}

#mailbox {
  float: right;
  height: 60px;
  width: 45px;
  line-height: 60px;
  cursor: pointer;
  #mail {
    position: relative;
    .unread-count {
      background: none repeat scroll 0 0 #f07746;
      color: #FFFFFF;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      padding: 3px 6px;
      position: absolute;
      right: 20px;
      top: 8px;
      @include border-radius(50%);
      @include opacity(0);
    } 
    .unread-count.new-mail {
      @include opacity(1);
    }
    .dicon-drawer-2 {
      color: #DDD;
      font-size: 32px;
      //text-shadow: 0px -1px 0 #999, 0px 1px 0 #FFF;
    }
    .dicon-drawer {
      color: #DDD;
      font-size: 32px;
      //text-shadow: 0px -1px 0 #999, 0px 1px 0 #FFF;
    }
    .inbox-caret {
      right: 18px;
      top: 51px;
    }
    #inbox {
      background: #FFF;
      width: 300px;
      border: 1px solid #CCC;
      @include border-radius(4px);
      position: absolute;
      top: 60px;
      right: -121px;
      @include box-shadow(0px 2px 5px rgba(0,0,255, 0.25));
      display: none;
      overflow: auto;
      max-height: 600px;
      z-index: 1;
      #inbox-header {
        border-bottom: 1px solid #CCC;
        padding: 4px 4px 4px 8px;
        h3 {
          padding: 0px;
          margin: 0px;
        }
      }
      #notifications {
        padding: 0px;
	margin: 0px;
	.un-read {
	  background: #EFF2E6;
	}
	.empty {
	  text-align: center;
	  padding: 16px;
	  
	}
	.notification {
	  padding: 8px;
	  margin: 0px;
	  border-bottom: 1px solid #CCC;
	  .inbox-avatar {
	    float: left;
	    width: 20%;
	  }
	  .inbox-avatar img {
	    width: 48px;
            height: 48px;
            @include border-radius(4px);
	    border: 1px solid #EEEEEE;
            box-shadow: 0 0 1px #777777;
	  }
	  .inbox-avatar {
	    .dicon-user {
	      display: inline-block;
	      font-size: 48px;
	      line-height: 48px;
	      background: #FFF;
	      height: 48px;
	      border: 1px solid #EEEEEE;
	      box-shadow: 0 0 1px #777777;
	      @include border-radius(4px);
	    }
	  }
	  .message-details {
	    float: left;
	    width: 80%;
	    .sent-name {
	      h3 {
		padding: 0px;
		margin: 0px;
	      }
	      a {
		color: #999;
		font-weight: bold;
	      }
	    }
	    .message-body {
	      
	    }
	    .message-actions {
	      a {
		width: 40%;
	      }
	      
	    }
	  }
	}
      } //end of #notifications
    }
  }
}

#account-info {
  margin: 0px 0px 0px 0px;
  float: right;
  height: 60px;
  cursor: pointer;
  line-height: 60px;
  #account-details {
    h2 {
      font-weight: normal;
      margin: 0px;
      padding: 0px;
      display: inline-block;
      font-size: 20px;
      line-height: 60px;
    }
    img {
      height: 32px;
      width: 32px;
      margin: -5px 0px 0px 5px;
      padding:0px;
      border: 1px solid #CCC;
      @include border-radius(4px);
    }
    span.dicon-user {
      margin: 0px 0px 0px 5px;
      display: inline-block;
      font-size: 32px;
      line-height: 32px;
      background: #FFF;
      height: 32px;
      position: relative;
      top: 6px;
      border: 1px solid #EEEEEE;
      box-shadow: 0 0 1px #777777;
      @include border-radius(4px);
    }
    span.dicon-arrow-down {
      padding: 0px;
      margin: 0px;
      display: inline-block;
      position: relative;
      top:5px;
    }
  }
}

#account-info ul .dropdown-menu{
  top: 35px;
}

.menu-caret, .inbox-caret {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;	
  border-bottom: 10px solid white;
  position: absolute;
  top: 51px;
  right: 83px;
  display: none;
  z-index: 3;
}

.menu-caret.outline, .inbox-caret.outline {
  border-color: transparent transparent #CCC;
  border-style: dashed dashed solid;
  border-width: 0 10px 10px;
  top: 50px;
  z-index: 2;
}



.view #user-menu, .view .menu-caret, .view #inbox, .view .inbox-caret {
  display: block !important;
}

#user-menu {
  background: #FFF;
  width: 300px;
  border: 1px solid #CCC;
  @include border-radius(4px);
  position: absolute;
  top: 60px;
  right: 20px;
  @include box-shadow(0px 2px 5px rgba(0,0,255, 0.25));
  display: none;
  z-index: 1;
  #profile-list {
    padding: 0px;
    margin: 0px;
    li {
      padding: 10px;
      a {
        font-size: 16px;
      }
    }
    li:hover {
      background: #f9f9f9;
    }
    #sign-out {
      a {
	width: 100%;
      }
    }
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* Styles */

#autocomplete {
  width: 300px !important;
}

#account-info {
  #account-details {
    h2 {
      display: none;
    }
  }
}
}



