#product-structure {
    width: 70%;
    float: left;
    margin-left: 1em;
}

#sections, #questions {
    float: left;
    width: 55%;
    margin-right: 5%;

    ul {
        padding: .5em;
        padding-left: 40px;
        li {
            margin: 2px;
        }
    }
}

#current-section {
    float: left;
    width: 35%;
}

.product-section, .product-question {
    display: block;
    text-align: left;

    .ui-button-icon-primary {
        top: 1em;
    }

    .ui-button-icon-secondary {
        right: .5em;
        top: 1em;
    }

    #question-attribute-type {
        position: absolute;
        right: .5em;
        top: 1em;
        margin-top: -8px;
    }

}

#current-product-section, #current-product-question {
    float: left;

    #section-attribute-repeat-max-instances {
        width: 3em;
        margin: 0 .5em;
    }
}
#menu {
    float: right;
    margin-right: 1em;
    width: 25%;

    #suggested-sections-list, #suggested-questions-list {
        ul {
            padding: 0;

            li {
                display: block;
                list-style: none;
                text-align: left;
            }
        }
    }
}

