#product-structure {
    width: 600px;
    float: left;
    margin-left: 1em;

}

.product-section, .product-question {
    display: block;
    text-align: left;
}

#menu {
    float: right;
    margin-right: 1em;
    width: 300px;

    #suggestions {
        #sections, #questions {
            ul {
                li {
                    width: 250px;
                    list-style: none;
                    text-align: left;
                }
            }
        }
    }
}

