.ui-autocomplete-category {
  padding: 0px 10px;
  margin: 0px;
}

.search-avatar {
  padding: 0px 10px;
  margin: 0px;
  img {
    height: 16px;
    width: 16px;
  }
  .dicon-user {

  }
}

.search-label {
  padding: 0px 0px 0px 0px;
}



.ui-corner-all {
  span.ripicon {
    float: right;
    margin: 0px 5px 0px 0px;
  }
}

.ui-menu {
  width: 224px;  
}

.ui-menu .ui-menu-item a {
  border-radius: none;
}

.ui-widget-content {
  background: #FFF;
  color: #333333;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  padding: 2px 0px 2px 0px;
  z-index: 6 !important;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  background: #FEB326;
  color: #FFF;
  border: none;
  margin: 0px;
  border-radius: 0px;
  @include box-sizing(border-box);
}

.ui-menu .ui-menu-item a {
    display: inline-block;
}

.ui-menu .ui-menu-item a {
  width: 100%;
  padding: 3px 0px 3px 10px;
  cursor: pointer;
  @include box-sizing(border-box);
}