// Place all the styles related to the User controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********************************************************************************
* SIDEBAR
**********************************************************************************/


$sidebarBorder: #ccc;

#view-sidebar {

  //background-image: url('http://subtlepatterns.com/patterns/tasky_pattern.png');
  //border-right: 1px $sidebarBorder solid;

  .separator {
    //@include background-image(linear-gradient(#555, #444));
    //height: 6px;
    //margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li:not(#favourite-item) {
    margin: 0;
    padding: 12px;
    //border-bottom: 1px $sidebarBorder solid;
  }
  
  .sidebar-buttons {
    
  }

  .sidebar-icon {
    width: 48px;
    height: 48px;
    display: block;
    background-repeat: no-repeat;
    font-size: 48px;
    line-height: 48px;
    
    text-shadow: 0 -1px 0px #999, 0 1px 0px white;
    cursor: pointer;
  }
  
  #sidebar-home, #sidebar-contacts, #sidebar-groups {
    color: #DDD;

  }
  
  #sidebar-home.active {
    color: #feb326;  
    
  }
  
  #sidebar-contacts.active {
    color: #bbdd46;
  }
  
  #sidebar-groups.active {
    color: #12cef1;
  }
  
  .face-image{
    margin: 4px 11px;
    cursor: pointer;
    img {
      border: 1px solid #EEE;
      @include box-shadow(#777 0px 0px 1px);
    }
    span.dicon-user {
      padding: 0px !important;
      display: inline-block;
      font-size: 48px;
      line-height: 48px;
      background: #FFF;
      height: 48px;
      border: 1px solid #EEEEEE;
      box-shadow: 0 0 1px #777777;
      @include border-radius(4px);
    }
    span.dicon-circles {
      padding: 0px !important;
      display: inline-block;
      font-size: 48px;
      line-height: 48px;
      background: #FFF;
      height: 48px;
      border: 1px solid #EEEEEE;
      box-shadow: 0 0 1px #777777;
      @include border-radius(4px);
    }
  }

  #favorite-menu {
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 10px;
    left: 0px;
    z-index: 99997;
    .dicon-star {
      margin: 0px 12px 0px 12px;
      font-size: 48px;
      line-height: 48px;
      text-shadow: 0 -1px 0px #999, 0 1px 0px white;
      color: #FFDF00;
      cursor: pointer;
    }
  }
  #favorite-container {
    position: fixed;
    min-width: 200px;
    max-width: 560px;
    background: #F9F9F9;
    z-index: 9998;
    margin: 0px;
    padding: 10px;
    bottom: 5px;
    left: 70px;
    display: none;
    border: 1px solid #CCC;
    @include border-radius(4px);
    @include box-shadow(0px 2px 5px rgba(0,0,255, 0.25));
    .favorite-item {
      float: left;
    }
    span {
      padding: 12px 0px 12px 0px;
      display: inline-block;
    }
  }
  #favorite-caret {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-right: 10px solid white;	
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: 16px;
    left: 61px;
    display: none;
    z-index: 100000;
  }
  #favorite-caret.outline {
    border-top: 10px dashed transparent;
    border-right: 10px solid #CCC;	
    border-bottom: 10px dashed transparent;
    left: 60px;
    z-index: 99999;
  }
}