// Place all the styles related to the User controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********************************************************************************
* USER SIGN IN
**********************************************************************************/

$total-columns: 14;
$column-width: 40px;
$gutter-width: 20px;
$grid-padding: $gutter-width;

body.landing-page {
  //@include container; 
  @include background(image-url("/assets/ripple-background.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  
  #sign-header {
    height: 3 * $column-width;
  }


  #sign-container {
    width: $column-width * 16 + $gutter-width * 10;
    margin: 0px auto;
  }
  
  #sign-content {
    //@include background(radial-gradient(top left, circle cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 70%));
    //@include box-shadow(0px 0px 10px rgba(255,255,255, 0.5));
    //@include border-radius(5px);      
    //@include background(rgba(#FFF,0.8));
    color: #CCC;
    h1, h2 {
      color: #FFF;
      font-size: 30px;
      margin-bottom: 20px;
      //text-shadow:-1px -1px #CCC;
    }
  }

  #sign-description {
    padding: $column-width;
    background: #000;
    width: $column-width * 6 + $gutter-width * 5;
    height: 300px;    
    float: left;
    input {
      padding: 8px;
      width: 100%;
      @include box-sizing(border-box);
      height: 40px;
    }
  }

  #sign-signup {
    padding: $column-width;
    @include background(rgba(#000,0.8));
    width: $column-width * 6 + $gutter-width * 5;
    height: 300px;
    float: left;
    input {
      padding: 8px;
      width: 100%;
      @include box-sizing(border-box);
      height: 40px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  #sign-logo {
    margin: 0px 0px 20px 0px;
    /*background: url(/assets/logo-here.png) no-repeat;*/
    h1 {
      text-align: center;
      color: #FFF;
    }
  }
  
  .button-wide-bold {
    padding: 8px;
    width: 100%;
    @include box-sizing(border-box);
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    span {
        position: relative;
        top: 1px;
    }
  }
  
  .link-forgot-password {
    position: relative;
    top: 10px;
  }



  #remember-me {
    margin: 10px 0px;
  }

  input.remember-me {
    margin-right: 5px;
    display: inline;
  }

  label.remember-me {
    width: 100px;
    display: inline;
  }  
  
  
  
} /* end body */

@media only screen and (max-width: 480px){
  body.landing-page {
  //@include container;
   #sign-container {
    //@include span-columns(12 omega,12);
  }

  #sign-description {
    //@include span-columns(12,12);
  }

  #sign-signup {
    //@include span-columns(12,12);
  }
  }	
}




/*********************************************************************************
* USER PROFILE
**********************************************************************************/

#user-profile {

  #user-profile-image {
    float: left;
    width: 20%;
  }

  #user-profile-details {

    float: left;
    width: 75%;

    .edit-profile {
      font-size: 50%;
    }

    ul {
      list-style-type: none;
    }

    .detail-label {
      font-weight: bold;
    }

    #authentications {

      ul {
        margin: 0;
      }
      .authentication {

        width: 300px;

        .authentication-icon {
          float: left;
          margin-right: 1em;
        }

        .authentication-name {
          float: left;
          margin-top: 6px;
        }

        .authentication-connected {
          float: right;
          margin-top: 6px;
        }
      }
    }
  }
}
