<h1>Editing product</h1>

<p>Product admin page for product availability etc. if we are doing that? Nothing to see here yet.</p> 

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
