@font-face {
        font-family: 'IcoMoon2';
        src: url('/assets/icomoon.eot');
        src: url('/assets/icomoon.eot?#iefix') format('embedded-opentype'),
             url('/assets/icomoon.svg#IcoMoon2') format('svg'),
             url('/assets/icomoon.woff') format('woff'),
             url('/assets/icomoon.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon2';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="dicon-"]:before, [class*=" dicon-"]:before {
	font-family: 'IcoMoon2';
	font-style: normal;
	speak: none;
}
.ddicon-home:before {
	content: "\25a0";
}
.ddicon-mail:before {
	content: "\25a1";
}
.ddicon-phone:before {
	content: "\25a2";
}
.ddicon-mobile:before {
	content: "\25a4";
}
.ddicon-twitter:before {
	content: "\25a7";
}
.ddicon-facebook:before {
	content: "\25ab";
}
.ddicon-linkedin:before {
	content: "\25ae";
}
.ddicon-pencil:before {
	content: "\25b1";
}
.ddicon-pencil-2:before {
	content: "\25b2";
}
.ddicon-tag:before {
	content: "\25b4";
}
.ddicon-remove:before {
	content: "\25b6";
}
.ddicon-remove-2:before {
	content: "\25ba";
}
.ddicon-remove-3:before {
	content: "\25bc";
}
.ddicon-star:before {
	content: "\25bf";
}
.ddicon-flag:before {
	content: "\25c1";
}
.ddicon-link:before {
	content: "\25f5";
}
.ddicon-user:before {
	content: "\25f6";
}
.ddicon-users:before {
	content: "\25f7";
}
.ddicon-contact:before {
	content: "\25f8";
}
.ddicon-globe:before {
	content: "\25f9";
}
.ddicon-network:before {
	content: "\25fa";
}
.ddicon-circles:before {
	content: "\25fc";
}
.ddicon-copy:before {
	content: "\2190";
}
.ddicon-comments:before {
	content: "\25e6";
}
.ddicon-card:before {
	content: "\25e7";
}
.ddicon-chat:before {
	content: "\25eb";
}
.ddicon-price:before {
	content: "\25ef";
}
.ddicon-write:before {
	content: "\25f3";
}
.ddicon-book:before {
	content: "\25c4";
}
.ddicon-cog:before {
	content: "\25d8";
}
.ddicon-equalizer:before {
	content: "\25ec";
}
.ddicon-download:before {
	content: "\25ee";
}
.ddicon-exit:before {
	content: "\25df";
}
.ddicon-arrow-up:before {
	content: "\25f1";
}
.ddicon-arrow-right:before {
	content: "\25d1";
}
.ddicon-arrow-down:before {
	content: "\25f4";
}
.ddicon-arrow-left:before {
	content: "\25fb";
}
.ddicon-info:before {
	content: "\25c8";
}
.ddicon-briefcase:before {
	content: "\25d7";
}
.ddicon-search:before {
	content: "\25fe";
}
.ddicon-search-2:before {
	content: "\25ff";
}
.ddicon-minus:before {
	content: "\25a9";
}
.ddicon-help:before {
	content: "\25ca";
}
.ddicon-cancel:before {
	content: "\25cf";
}
.ddicon-briefcase-2:before {
	content: "\21";
}
.ddicon-bookmark:before {
	content: "\22";
}
.ddicon-bookmark-2:before {
	content: "\23";
}
.ddicon-flag-2:before {
	content: "\25dc";
}
.ddicon-drawer:before {
	content: "\21";
}
.ddicon-drawer-2:before {
	content: "\24";
}
.ddicon-map:before {
	content: "\25";
}
.ddicon-book-2:before {
	content: "\26";
}
.ddicon-facebook-2:before {
	content: "\27";
}
.ddicon-cancel-2:before {
	content: "\28";
}
.ddicon-checkmark:before {
	content: "\29";
}
.ddicon-arrow-right-2:before {
	content: "\2a";
}
.ddicon-refresh:before {
	content: "\2b";
}
.ddicon-comments-2:before {
	content: "\2c";
}
.ddicon-thumbs-up:before {
	content: "\2d";
}
.ddicon-thumbs-up-2:before {
	content: "\2e";
}
.ddicon-comment:before {
	content: "\2f";
}
.ddicon-loop:before {
	content: "\30";
}
.ddicon-undo:before {
	content: "\31";
}


.dicon-home:before {
	content: "\21";
}
.dicon-mail:before {
	content: "\22";
}
.dicon-phone:before {
	content: "\23";
}
.dicon-mobile:before {
	content: "\24";
}
.dicon-twitter:before {
	content: "\25";
}
.dicon-facebook:before {
	content: "\26";
}
.dicon-linkedin:before {
	content: "\27";
}
.dicon-pencil:before {
	content: "\28";
}
.dicon-pencil-2:before {
	content: "\29";
}
.dicon-tag:before {
	content: "\2a";
}
.dicon-remove:before {
	content: "\2b";
}
.dicon-remove-2:before {
	content: "\2c";
}
.dicon-remove-3:before {
	content: "\2d";
}
.dicon-star:before {
	content: "\2e";
}
.dicon-flag:before {
	content: "\2f";
}
.dicon-link:before {
	content: "\30";
}
.dicon-user:before {
	content: "\31";
}
.dicon-users:before {
	content: "\32";
}
.dicon-contact:before {
	content: "\33";
}
.dicon-globe:before {
	content: "\34";
}
.dicon-network:before {
	content: "\35";
}
.dicon-circles:before {
	content: "\36";
}
.dicon-book:before {
	content: "\37";
}
.dicon-arrow-up:before {
	content: "\38";
}
.dicon-arrow-right:before {
	content: "\39";
}
.dicon-arrow-down:before {
	content: "\3a";
}
.dicon-arrow-left:before {
	content: "\3b";
}
.dicon-info:before {
	content: "\3c";
}
.dicon-briefcase:before {
	content: "\3d";
}
.dicon-minus:before {
	content: "\3e";
}
.dicon-drawer-2:before {
	content: "\3f";
}
.dicon-drawer:before {
	content: "\40";
}
.dicon-cancel:before {
	content: "\41";
}
.dicon-checkmark:before {
	content: "\42";
}
.dicon-thumbs-up:before {
	content: "\43";
}
.dicon-thumbs-up-2:before {
	content: "\44";
}
.dicon-loop:before {
	content: "\45";
}
.dicon-paper-plane:before {
	content: "\46";
}
.dicon-office:before {
	content: "\47";
}
.dicon-graduation:before {
	content: "\48";
}
.dicon-location:before {
	content: "\49";
}
.dicon-mobile-2:before {
	content: "\4a";
}
.dicon-loop-2:before {
	content: "\4b";
}
.dicon-comments:before {
	content: "\4c";
}
.dicon-arrow-right-2:before {
	content: "\4d";
}
.dicon-comment:before {
	content: "\4e";
}
.dicon-arrow-left-2:before {
	content: "\4f";
}
.dicon-arrow-right-3:before {
	content: "\50";
}
.dicon-arrow-left-3:before {
	content: "\51";
}
.dicon-arrow-right-4:before {
	content: "\52";
}
.dicon-arrow-left-4:before {
	content: "\53";
}
.dicon-pictures:before {
	content: "\54";
}
.dicon-briefcase-2:before {
	content: "\55";
}
.dicon-briefcase-3:before {
	content: "\56";
}
.dicon-facebook-2:before {
	content: "\57";
}
.dicon-dandelion1:before {
	content: "\59";
}
.dicon-dandelion-outline:before {
	content: "\58";
}