<footer id="lion-footer" class="page">
  <div class="container">
    <nav>
      <ul class="socials">
        <li><a target="_blank" href="https://www.twitter.com/dandelionapps"><span class="dicon-twitter"></span></a></li>
        <li><a target="_blank" href="http://www.facebook.com/pages/Dandelion/134325706711968"><span class="dicon-facebook"></span></a></li>
        <li><a target="_blank" href="http://www.linkedin.com/company/2727119?trk=tyah"><span class="dicon-linkedin"></span></a></li>
      </ul>
    </nav>
    <nav>
      <ul class="links">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </div>
</footer>