<header id="lion-header" class="page">
  <div class="container">
    <div class="header">
        <div class="logo">
          <a href="/"><img src="/assets/website-logo.png"></img></a>
        </div>
        <div class="cta">
          <a href="/auth/facebook" class="button button-facebook"><span class="dicon-facebook-2"></span><span>Sign in/up with facebook</span></a>
        </div>
    </div>
    <div class="body">
    </div>
  </div>
</header>
<section id="lion-body" class="page">
  <div class="container">


    <div id="us-nav-icons">
      <a href="/contact"><span class="dicon-paper-plane"></span></a>
      <a href="/about"><span class="dicon-vcard active"></span></a>
      <a href="/terms"><span class="dicon-briefcase"></span></a>
      <a href="/privacy"><span class="dicon-locked"></span></a>
      <!--<a href="/blog"><span class="dicon-pencil-3"></span></a>-->
    </div>

    <div id="us-about-main">

      <h1 class="book">about us</h1>
      <p class="book">dandelion is the intelligent address book that you’ve been waiting for, it just makes your life easier.
      </p>
      <p class="book">dandelion imports your contacts from your phone*, social networks or csv file and curates a profile for each person in your life, bringing together numbers and notes from mobile devices with photo’s and extended information from social networks.
      </p>
      <p class="book">dandelion also helps you build your profile to share with your friends, once connected any updates you make to your profile will automagically appear in yourfriends version of dandelion, this also works for all your friends contacts in reverse.no more facebook updates asking everyone for their numbers because you lost your phone, no more bulk emails, just an always up to date adresss book.
      </p>
      <p class="book subscript">* phone apps available in October 2012</p>

      <p>Oliver and Ben</p>

     <div id="us-about-profiles">
        <div class="us-about-profile">
          <img src="/assets/olly.png"></img>
          <p class="name">Oliver Chesterman</p>
          <p class="desc">technical co-founder</p>
          <p class="social">
          <a target="_blank" href="https://twitter.com/chestermano"><span class="dicon-twitter"></span></a>
          <a target="_blank" href="http://www.linkedin.com/pub/oliver-chesterman/1b/904/986"><span class="dicon-linkedin"></span></a>
          </p>
        </div>
        <div class="us-about-profile">
          <img src="/assets/ben.png"></img>
          <p class="name">Ben Wilks</p>
          <p class="desc">creative co-founder</p>
          <p class="social">
            <a target="_blank" href="https://twitter.com/benni_wilks"><span class="dicon-twitter"></span></a>
            <a target="_blank" href="http://www.linkedin.com/profile/view?id=21399892&locale=en_US&trk=tyah"><span class="dicon-linkedin"></span></a>
          </p>
        </div>
        <div class="clear"></div>
     </div>


    </div>




  </div>
</section>

<%= render "footer" %>
