<header id="lion-header" class="page">
  <div class="container">
    <div class="header">
        <div class="logo">
          <a href="/"><img src="/assets/website-logo.png"></img></a>
        </div>
        <div class="cta">
          <a href="/auth/facebook" class="button button-facebook"><span class="dicon-facebook-2"></span><span>Sign in/up with facebook</span></a>
        </div>
    </div>
    <div class="body">
    </div>
  </div>
</header>
<section id="lion-body" class="page">
  <div class="container">


<div id="us-nav-icons">
  <a href="/contact"><span class="dicon-paper-plane active"></span></a>
  <a href="/about"><span class="dicon-vcard"></span></a>
  <a href="/terms"><span class="dicon-briefcase"></span></a>
  <a href="/privacy"><span class="dicon-locked"></span></a>
  <!--<a href="/blog"><span class="dicon-pencil-3"></span></a>-->
</div>

<div id="us-contact-card">

<div id="us-contact-card-top">
  <span class="dicon-star"></span>
  <img src="/assets/app-logo.png">
  <span class="dicon-pencil"></span>
</div>

<div id="us-contact-card-map">
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.508129,-0.128005&zoom=15&format=png&sensor=false&size=320x180&maptype=roadmap">
</div>

<div id="us-contact-card-body">

  <div id="us-contact-card-avatar">
    <img src="/assets/lion-avatar.png">  
  </div>

  <div id="us-contact-card-socials">
    <span class="dicon-facebook"></span>
    <span class="dicon-twitter"></span>
    <span class="dicon-linkedin"></span>
    <span class="dicon-dandelion-outline"></span>
  </div>

  <div id="us-contact-card-details">
    <div class="us-contact-card-detail">
      <span class="dicon-mail icon"></span> <span class="value"><a target="_blank" href="mailto:support@dandelion.io">support@dandelion.io</a></span>
    </div>
    <div class="us-contact-card-detail">
      <span class="dicon-office icon"></span> <span class="value">+447920066582</span>
    </div>
    <div class="us-contact-card-detail">
      <span class="dicon-office icon"></span> <span class="value">+447833207182</span>
    </div>
    <div class="us-contact-card-detail">
      <span class="dicon-globe icon"></span> <span class="value"><a target="_blank" href="http://www.dandelion.io">http://www.dandelion.io</a></span>
    </div>
    <div class="us-contact-card-detail">
      <span class="dicon-globe icon"></span> <span class="value"><a target="_blank" href="http://www.bespokd.com">http://www.bespokd.com</a></span>
    </div>    
    <div class="us-contact-card-detail">
      <span class="dicon-location icon"></span> <span class="value">London, United Kingdom</span>
    </div>
    <div class="us-contact-card-detail">
      <span class="dicon-briefcase-3 icon"></span> <span class="value">Intelligent contact book</span>
    </div>
  </div>

</div>




</div>

<div id="us-contact-main">
    <h1 class="book">Contact Us</h1>

  <div id="hot-tip">
    <div id="hot-tip-flame">
      <span class="dicon-fire"></span> 
    </div>
    <div id="hot-tip-text">
      <h3 class="book">Hot tip of the week</h3>
      <p class="book">to ensure you get the most out of dandelion connect all your social networks, remember we will never share your details with anyone.</p>
    </div>
  </div>
  <div class="clear"></div>


  <div id="contact-form">
    <form>
      <div>
          <label class="book">name*</label> 
          <input type="text" name="name" />
      </div>
      <div>
          <label class="book">email*</label><input type="email" name="email" />
      </div>
      <div>
          <label class="book">message*</label>
          <textarea rows="10" cols="30"></textarea>
      </div>
      <div>
          <input type="submit" value="Submit" />
      </div>
    </form>
  </div>

</div>




  </div>
</section>

<%= render "footer" %>
