<header id="lion-header" class="page">
  <div class="container">
    <div class="header">
        <div class="logo">
          <a href="/"><img src="/assets/website-logo.png"></img></a>
        </div>
        <div class="cta">
          <a href="/auth/facebook" class="button button-facebook"><span class="dicon-facebook-2"></span><span>Sign in/up with facebook</span></a>
        </div>
    </div>
    <div class="body">
    </div>
  </div>
</header>
<section id="lion-body" class="page">
  <div class="container">

    <div id="us-nav-icons">
      <a href="/contact"><span class="dicon-paper-plane"></span></a>
      <a href="/about"><span class="dicon-vcard"></span></a>
      <a href="/terms"><span class="dicon-briefcase"></span></a>
      <a href="/privacy"><span class="dicon-locked active"></span></a>
      <!--<a href="/blog"><span class="dicon-pencil-3"></span></a>-->
    </div>

    <div id="us-about-main">

      <h1 class="book">privacy policy</h1>


<p class="privacy book">Welcome to Dandelion, the intelligent contact book that brings together

everyone you know across multiple networks to create enhanced views of

the people in your life. Use Dandelion to find who you’re looking for, connect

social networks to enhance their information and always have their most

up to date details. Dandelion itself is NOT a social networking service, any

information or notes you add to your contacts on Dandelion is personal to you

and will not be shared with other users.</p>

<p class="privacy book">Dandelion, is a service provided by Bespokd Ltd (Bespokd, Dandelion, we,

our or us) and we take your privacy very seriously. This Privacy Policy covers

our treatment of personally identifiable information (“Personal Information”)

that we collect when you use the Service and describes how that information

may be used, with whom it may be shared, and your choices about such

uses and disclosures. This Privacy Policy does not apply to the practices

of companies that we do not own or control, or to individuals that we do not

employ or manage. We encourage you to read this Privacy Policy carefully

before using the Service. By accessing the Service, you acknowledge and

agree that you have read, fully accept, and will abide by this Privacy Policy.</p>


<p class="privacy book">We may also amend this Privacy Policy from time to time. Your continued

use of the Service after such amendment constitutes your acceptance of

the Privacy Policy as amended. Any capitalized terms used herein without

definition shall have the meaning given to them in the Dandelion Terms of

Use.</p>

<h3 class="book">Information We Collect About You</h3>

<ol class="first">
<li class="book"><strong>Information You Provide to Us.</strong><br>
We receive and store any information you knowingly provide to us.  You can choose not to provide us with certain information, but then you may not be able to register with us or to take advantage of some of our features. For example, in providing the Service, we may collect the following Personal Information from you:

<ol class="second">
<li class="book"><strong>Private personally identifiable information.</strong><br>
The information we collect may include items like your name, e-mail address, telephone number and location-based information (if you agree to provide such information).  Additionally, to register with Dandelion, you may need to provide us with a username and password.</li>
<li class="book"><strong>Third Party Account Information.</strong><br>
Our Service incorporates content from Third Party Websites, such as Facebook, Google, Twitter, LinkedIn and Foursquare.  In order to connect your account on Dandelion to your accounts and contacts on those services (“Third Party Accounts”), we may ask you for account information for those services.   If you provide your Third Party Account credentials to us, you understand that content and/or information in those accounts may be transmitted into your account with us, and that Third Party Account information transmitted to our Website is covered by this Privacy Policy.  We don’t actually store your passwords for those Third Party Accounts.  Instead, we just use an authentication token to verify your user name.</li>
<li class="book"><strong>Information about others.</strong><br>
When you link a Third Party Account to your Dandelion account (by signing in using your Third Party Account information or otherwise), we may collect and store publicly available personal information about your contacts and friends available from those Third Party Websites.  This information may include their photo, name, email address, and interests or other content you have access to when you access such profiles on those Third Party Websites.  You may also be able to invite other users to the Service by providing us with their personal information.</li>
</ol>
</li>
<li class="book"><strong>Information Collected Automatically.</strong><br>
We may use various technologies to collect information from your computer or mobile device and about your activities on the Service.

<ol class="second">
<li class="book"><strong>Information collected automatically from your browser.</strong><br>
We may automatically collect information from your browser when you use the Service.  This information includes your IP address, your browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us (see “Cookies” below), and the referring website address.</li>
<li class="book"><strong>Cookies.</strong><br>
When you use the Service, we may assign your computer or mobile device one or more cookies, to facilitate access to the Service, and to personalize your online experience.  Through the use of cookies, we also may automatically collect information about your activity on the Service, such as the web pages you visit, the links you click, and the searches you conduct.  Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies.</li>
</ol>
</li>
<li class="book"><strong>Information Collected by Third Parties.</strong><br>
Third Party Websites that you choose to link your Dandelion account to may also collect information that we are not aware of.  You should consult their applicable terms of service and privacy policies for more information on their data collection practices.</li>
</ol>


<h3 class="book">How We Use the Information We Collect</h3>

<p class="privacy book">We will never sell your Personal Information and, except as set forth below, will never share your Personal Information with any third parties.</p>

<ol class="first">
<li class="book"><strong>Connection Suggestions.</strong><br>
We may use your Personal Information to suggest contacts or connections you should make with other users (or other users should make with you) based on your relationships in your Dandelion address book.   However, we will only ever share the public user profile that any third party already has access to (as set by your privacy controls on such Third Party Website) and will never share the full profile that a user would only have access to if you were both connected on such Third Party Website.</li>
<li class="book"><strong>Internal Use.</strong><br>
We may also use your Personal Information to contact you about the Service, to personalize and improve the Service, and to analyze how users utilize the Service.</li>
<li class="book"><strong>External Use.</strong>

<ol class="second">
<li class="book"><strong>Agents.</strong><br>
We may employ third parties to perform tasks on our behalf and may need to share your Personal Information with them to provide certain products or services to you.    Unless we tell you differently, our agents do not have any right to use the Personal Information we share with them beyond what is necessary to assist us.</li>
<li class="book"><strong>Business Transfers.</strong><br>
We may choose to buy or sell assets.  In these types of transactions, customer information is typically one of the business assets that is transferred.  Also, if we are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, Personal Information would be one of the assets transferred to or acquired by a third party.</li>
<li class="book"><strong>Protection of Dandelion and Others.</strong><br>
We reserve the right to access, preserve, and disclose any information that we reasonably believe is necessary to comply with law or court order; enforce or apply our Terms of Use and other agreements; or protect the rights, property, or safety of Dandelion, our employees, our users, or others.  This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</li>
</ol>
</li>
</ol>


<h3 class="book">Your Choices About Collection and Use of Your Personal Information</h3>

<ol class="first">
<li class="book"><strong>Account Settings.</strong><br>
You can choose not to provide us with certain information or can elect not to share any of your profile information publicly by visiting your account settings in your Third Party Accounts and selecting to have your profile available only to users signed into the Service.  Please note that these account sharing restrictions may result in you being unable to use some or all features of the Service.</li>
<li class="book"><strong>Account Deletion.</strong><br>
If you close your account, we may still retain certain information associated with your account for analytical purposes and recordkeeping integrity, as well as to prevent fraud, enforce our terms and conditions, take actions we deem necessary to protect the integrity of the Service or our users, or take other actions otherwise permitted by law. Further, because of the complexities of the technology involved, we cannot guarantee total or irrevocable deletion of your account information, and we cannot provide you with any specific timelines for deletion.</li>
</ol>


<h3 class="book">How We Protect Your Personal Information</h3>

<ol class="first">
<li class="book"><strong>Security Measures.</strong><br>
We take appropriate security measures (including physical, electronic and procedural measures) to help safeguard your Personal Information from unauthorized access and disclosure.  For example, only authorized employees and third parties who have agreed to be bound by confidentiality restrictions, such as consultants, may be permitted to access Personal Information, and they may do so only for permitted business purposes.  In addition, we use SSL encryption in the transmission of your sensitive Personal Information between your system and ours, and we use firewalls to help prevent unauthorized persons from gaining access to your Personal Information.</li>
<li class="book"><strong>Passwords.</strong><br>
Your account is protected by a password for your privacy and security via the third party site or service that you use to log in to Dandelion. You must prevent unauthorized access to your account and Personal Information by selecting and protecting your password and/or other sign-on mechanism appropriately and limiting access to your computer or device and browser by signing off after you have finished accessing your account.</li>
<li class="book"><strong>Precautions.</strong><br>
We want you to feel confident using the Service and endeavor to protect the privacy of your account and other Personal Information we hold in our records. However, no system can be completely secure. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time. Therefore, although we take steps to secure your information, we do not promise, and you should not expect, that your Personal Information will always remain secure. Users should also take care with how they handle and disclose their Personal Information and should avoid sending Personal Information through insecure e-mail.</li>
</ol>


<h3 class="book">Children’s Privacy</h3>

<p class="privacy book">We do not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register for the Service.</p>

<h3 class="book">Questions or Concerns</h3>

<p class="privacy book">If you have any questions or concerns regarding our privacy policies, please contact us by e-mail at <a href="mailto:support@dandelion.io">support@dandelion.io</a>.</p>

<p class="privacy book"><em>Effective Date: September 17, 2012</em></p>

</div>


    </div>
  </div>
</section>

<%= render "footer" %>
