<header id="lion-header" class="page">
  <div class="container">
    <div class="header">
        <div class="logo">
          <a href="/"><img src="/assets/website-logo.png"></img></a>
        </div>
        <div class="cta">
          <a href="/auth/facebook" class="button button-facebook"><span class="dicon-facebook-2"></span><span>Sign in/up with facebook</span></a>
        </div>
    </div>
    <div class="body">
    </div>
  </div>
</header>
<section id="lion-body" class="page">
  <div class="container">



   <div id="us-nav-icons">
      <a href="/contact"><span class="dicon-paper-plane"></span></a>
      <a href="/about"><span class="dicon-vcard"></span></a>
      <a href="/terms"><span class="dicon-briefcase active"></span></a>
      <a href="/privacy"><span class="dicon-locked"></span></a>
      <!--<a href="/blog"><span class="dicon-pencil-3"></span></a>-->
    </div>

    <div id="us-about-main">

      <h1 class="book">terms and conditions</h1>



<p class="privacy book">
Thankyou for visiting Dandelion, which is operated by Bespokd Ltd (Bespokd,

Dandelion, we, our or us) and is an intelligent contact book

everyone you know across multiple networks to create enhanced views of

the people in your life. Use Dandelion to find who you’re looking for, connect

social networks to enhance their information and always have their most

up to date details. Dandelion itself is NOT a social networking service, any

information or notes you add to your contacts on Dandelion is personal to you

and will not be shared with other users.
</p>

<p class="privacy book">
In order to make use of the services and the Content (as defined below)

offered by Dandelion (collectively, the “Service”), you must agree to be bound

by these Terms of Use (the “Terms”) and by our Privacy Policy. If you object

to anything in these Terms or the Privacy Policy, you are prohibited from

using the Service.
</p>

<p class="privacy book">
These Terms and our Privacy Policy are subject to change by us at any time,

effective upon posting through the Service; by accessing the Service after any

such change, you accept the Terms as modified.
</p>

<h3 class="book">Eligibility</h3>

<ol class="first">
<li><strong>You Must Be at Least 13 to Use the Service.</strong><br>
First and foremost, you must be at least 13 years of age to use the Service.  So, if you do use the Service, you’re representing and warranting (in other words, you’re promising to us) that you are 13 years of age or older and that you have the right, authority and capacity to enter agree to and abide by these Terms.</li>
<li><strong>Void Where Prohibited.</strong><br>
We definitely don’t want you breaking any laws.  So when you use the Service, you are responsible for ensuring that your use complies with all laws, rules and regulations applicable to you. These Terms are void and use of the Service is not permitted where such use is prohibited.</li>
<li><strong>You Must Provide Accurate Registration Information.</strong><br>
All registration information you submit must be accurate and truthful and you agree to maintain the accuracy of such information.</li>
</ol>


<h3 class="book">Use of the Service</h3>

<ol class="first">
<li><strong>Third Party Account Information.</strong><br>
The Service couldn’t work if we weren’t able to access some of your and your friends’ publicly available profile information from your third party accounts (such as Facebook, Google, Twitter, LinkedIn, and Foursquare) (“Third Party Accounts”).  By signing into the Service through or linking your Dandelion account to any Third Party Account, you permit us to access and aggregate certain information from your profiles and profiles of individuals you are connected with on such sites for use by the Service.  Still, you ultimately control how much information is accessible to us – just be sure to adjust your privacy settings on those sites.  When you use the Service, you are authorizing us to collect, store, and use, in accordance with our Privacy Policy, any information that you permit the third party websites (“Third Party Websites”) to provide to us and to access tokens made available by those Third Party Websites.</li>
<li><strong>Third Party Websites.</strong><br>
As noted above, the Service contains links to Third Party Websites that are not owned or controlled by Dandelion.  When you access Third Party Websites, you do so at your own risk.  You hereby represent and warrant (i.e. you promise) that you have read and agree to be bound by all applicable policies of any Third Party Websites and that you will act in accordance with those policies, in addition to your obligations under these Terms.  Dandelion has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of any Third Party Websites.  In addition, Dandelion will not and cannot monitor, verify, censor or edit the content of any Third Party Website.  Any information contained in the content or data from a Third Party Website may be inaccurate or misleading and should not be relied upon.  This content and data may become temporarily or permanently unavailable and/or may be subject to change without notice.  By using the Service, you expressly release and hold harmless Dandelion from any and all liability arising from your use of any Third Party Website.</li>
<li><strong>Location Based Services.</strong><br>
We may offer features that are based on the location of users and which may report on those users’ current locations (the “Location-Based Services”).  Sound like something you’d like to partake in?  Great.  Sound like something you’d like to leave alone?  No problem.  The use of Location-Based Services is solely at your discretion. Should you use Location-Based Services, you consent to collection and dissemination of your location information through the Service. Under no circumstances shall we be liable for claims or for any damages therefrom, arising out of your informed decision to disseminate your location information together with your profile information through the Service.</li>
<li><strong>Code of Conduct.</strong><br>
By accessing the Service, you agree that you will not contribute any content or otherwise use the Service in a manner that: (i) infringes or violates the intellectual property rights or proprietary rights, rights of publicity or privacy, or other rights of any third party; (ii) violates any law, statute, ordinance or regulation; (iii) is harmful, fraudulent, deceptive, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, or otherwise objectionable; (iv) involves commercial activities and/or sales without Dandelion’s prior written consent such as contests, sweepstakes, barter, advertising, or pyramid schemes; (v) impersonates any person or entity, including without limitation any employee or representative of Dandelion; (vi) contains a virus, trojan horse, worm, time bomb, or other harmful computer code, file, or program; (vii) uses any manual or automated software, devices, or other processes to “crawl,” “scrape,” or “spider” any page of the Service or (viii) attempts to decompile, reverse engineer, or otherwise attempt to obtain the source code of the Service.  Dandelion may change, suspend or discontinue the Service at any time, including the availability of any feature, database, or Content at any time, for any reason or for no reason at all.  Dandelion may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability.</li>
<li><strong>Commercial Use.</strong><br>
Remember, the Service is completely personal to you. Still, from time to time, we may approve commercial use of the Service through corporate partnerships and agreements. But unless we authorize it, organizations, companies, and/or businesses may not become users and should not use the Service for any purpose. Illegal and/or unauthorized uses of the Service, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, are prohibited.</li>
</ol>


<h3 class="book">Proprietary Rights; Use License</h3>

<ol class="first">
<li><strong>Ownership.</strong><br>
We and our licensors own and retain all proprietary rights in the Service – that means we own all the non-user and third-party generated content you see on the Service. The Service may contain the copyrighted material (such as text, graphics, photographs, images, and illustrations), trademarks, and other proprietary information of us and our licensors (the “Content”). Except for Content that is in the public domain or for which permission has been provided, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any Content. Content and the Service are protected by copyright as collective works and/or compilations, pursuant to U.S. copyright laws, international conventions, and other copyright laws.</li>
<li><strong>Use License.</strong><br>
Subject to these Terms and for the sole and limited purpose of facilitating your use of the Service, we grant to you a limited, revocable, personal, non-commercial, non-exclusive license to (i) access and use the Service (including the Content contained therein), and (ii) install, access and use the Application on a mobile device owned by you.</li>
<li><strong>Third Party and User Content.</strong><br>
You acknowledge and agree that if you contribute any content to the Service (such as personal comments about a contact, your profile information, etc.) (“User Content”), you hereby do and shall grant us a non-exclusive, worldwide, royalty-free, transferable, sublicensable right to use, modify, reproduce, distribute, prepare derivative works of, and display such User Content (including all related intellectual property rights) solely as necessary to provide the Service to you.  You also grant us a non-exclusive, worldwide, royalty free, perpetual, irrevocable, sublicenseable and transferable right to use, modify, reproduce, distribute, prepare derivative works of, and display the information from your Third Party Accounts that you link to Dandelion in connection with the Service. Dandelion will only share your personally identifiable information in accordance with Dandelion’s privacy policy.</li>
</ol>


<h3 class="book">Termination</h3>

<ol class="first">
<li><strong>By User.</strong><br>
We hate to see you go, but you may terminate your access to the Service at any time, for any reason, by accessing your account settings.</li>
<li><strong>By Us.</strong><br>
We, at our sole discretion, may terminate your access to the Service for any reason or no reason, which may result in the forfeiture and destruction of all information associated with your account. We are not required to provide you notice prior to terminating your access to the Service. We are not required to disclose a reason for the termination of your account.</li>
</ol>


<h3 class="book">Disclaimers/Limitations</h3>

<ol class="first">
<li><strong>Warranty Disclaimer.</strong><br>
Dandelion has no special relationship with or fiduciary duty to you.  You should not rely on Dandelion to be the sole location of your contact information.  You acknowledge that Dandelion has no control over, and no duty to take any action regarding: which users gain access to the Service; what Content you access via the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content.  You release Dandelion from all liability for you having acquired or not acquired Content through the Service.  The Service may contain, or direct you to websites containing, information that some people may find offensive or inappropriate.  Dandelion makes no representations concerning any content contained in or accessed through the Service, and Dandelion will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Service. THE SERVICE, CONTENT, WEBSITE, APPLICATION AND ANY SOFTWARE ARE PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</li>
<li><strong>Limitation of Liability.</strong> <br>
IN NO EVENT SHALL BREWSTER OR ITS SUPPLIERS, OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE WITH RESPECT TO THE SERVICE, INCLUDING ALL CONTENT, THE WEBSITE AND THE APPLICATION, OR THE SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY (I) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF THE GREATER OF $100 OR THE FEES PAID BY YOU THEREFOR DURING THE 12-MONTH PERIOD PRECEDING THE APPLICABLE CLAIM; (II) FOR ANY INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; (III) FOR DATA LOSS OR COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; OR (IV) FOR ANY MATTER BEYOND BREWSTER’S REASONABLE CONTROL. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</li>
</ol>


<h3 class="book">Jurisdiction and Choice of Law</h3>

<p class="privacy book">If there is any dispute arising out of the Service, by using the Service you expressly agree that any such dispute shall be governed by the laws of the State of New York, without regard to its conflict of law provisions, and you expressly agree and consent to the exclusive jurisdiction and venue of the state and federal courts of the State of New York, in New York County, for the resolution of any such dispute.</p>

<h3 class="book">Indemnity by You – In Other Words, What Happens If You Get Us Sued</h3>

<p class="privacy book">We hope this never comes up, but just in case it does, you agree to indemnify and hold us, our subsidiaries, affiliates, officers, agents, and other partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorney’s fees, made by any third party due to or arising out of your use of the Service in violation of these Terms and/or arising from a breach of these Terms and/or any breach of your representations and warranties set forth above.</p>

<h3 class="book">Miscellaneous</h3>

<ol class="first">
<li><strong>Entire Agreement.</strong><br>
These Terms contain the entire agreement between you and us regarding the use of the Service.</li>
<li><strong>Severability.</strong><br>
If any provision of these Terms is held to be invalid, illegal or unenforceable in any respect, that provision shall be limited or eliminated to the minimum extent necessary so that these Terms shall otherwise remain in full force and effect and enforceable.</li>
<li><strong>Survival.</strong><br>
Even after your access to the Service is terminated, or your use of the Service discontinues, these Terms will remain in effect. All terms that by their nature may survive termination of these Terms shall be deemed to survive such termination.</li>
<li><strong>Waiver.</strong><br>
Our failure to enforce any part of these Terms shall not constitute a waiver of our right to later enforce that or any other part of these Terms. Waiver of compliance in any particular instance does not mean that we will do so in the future. In order for any waiver of compliance with these Terms to be binding, we must provide you with written notice of such waiver, provided by one of our authorized representatives.</li>
<li><strong>Headings.</strong><br>
The section and paragraph headings in these Terms are for convenience only and shall not affect the interpretation of these Terms.</li>
<li><strong>No Third Party Beneficiaries.</strong><br>
You agree that, except as otherwise expressly provided in these Terms there shall be no third party beneficiaries.</li>
<li><strong>Relationship of the Parties.</strong><br>
You and we are independent contractors, and no agency, partnership, joint venture, employee-employer or franchisor-franchisee relationship is intended or created by these Terms.</li>
</ol>


<h3 class="book">Apple Device and Application Terms</h3>

<p class="privacy book">In the event you are accessing the Service via an Application on a device provided by Apple, Inc. (“Apple”) or an Application obtained through the Apple App Store, the following shall apply:</p>

<ol class="first">
<li>Both you and Dandelion acknowledge that these Terms are concluded between you and Dandelion only, and not with Apple, and that Apple is not responsible for the Application or the Content;</li>
<li>The Application is licensed to you on a limited, non-exclusive, non-transferrable, non-sublicensable basis, solely to be used in connection with the Service for your private, personal, non-commercial use, subject to all the terms and conditions of these Terms as they are applicable to the Service;</li>
<li>You will only use the Application in connection with an Apple device that you own or control;</li>
<li>You acknowledge and agree that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Application;</li>
<li>In the event of any failure of the Application to conform to any applicable warranty, including those implied by law, you may notify Apple of such failure; upon notification, Apple’s sole warranty obligation to you will be to refund to you the purchase price, if any, of the Application;</li>
<li>You acknowledge and agree that Dandelion, and not Apple, is responsible for addressing any claims you or any third party may have in relation to the Application;</li>
<li>You acknowledge and agree that, in the event of any third party claim that the Application or your possession and use of the Application infringes that third party’s intellectual property rights, Dandelion, and not Apple, will be responsible for the investigation, defense, settlement and discharge of any such infringement claim;</li>
<li>You represent and warrant that you are not located in a country subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country, and that you are not listed on any U.S. Government list of prohibited or restricted parties;</li>
<li>Both you and Dandelion acknowledge and agree that, in your use of the Application, you will comply with any applicable third party terms of agreement which may affect or be affected by such use; and</li>
<li>Both you and Dandelion acknowledge and agree that Apple and Apple’s subsidiaries are third party beneficiaries of these Terms, and that upon your acceptance of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as the third party beneficiary hereof.</li>
</ol>


<p class="privacy book">If you have any questions, complaints, or claims with respect to the Service, you may contact us at <a href="mailto:support@dandelion.io">support@dandelion.io</a>.</p>

<p class="privacy book"><em>Effective: September 17th, 2012</em></p>









    </div>



  </div>
</section>


<%= render "footer" %>